@import "tailwindcss";

/* Smooth scroll for anchor links */
html {
  scroll-behavior: smooth;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Hide scrollbar when needed */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
